body
{
  background-color: #0b1522;
  color: white;
}
.calculator {
  width: 300px;
  margin: 50px auto;
  padding: 15px;
  border: 2cap black;
  border-radius: 10px;
  background-color: darkcyan;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
  text-align: center;
}

input[type="text"],
input[type="button"] {
  width: 100%;
  padding: 10px;
  border-radius: 3px;
  border: 1px solid #ccc;
  background-color: ghostwhite;
}

input[type="button"]:hover {
  background-color: #f9d7dc;
  cursor: pointer;
}

#display {
  grid-column: span 4;
  text-align: left;
  padding: 3px;
  font-size: 1.5em;
}
#dot{
  font-size: 20px;
}

#dot {
  font-size: 20px;
}

.animated-heading {
  font-size: 40px;
  background: linear-gradient(to right,
     #d228c4, #06ea21);
  background-size: 200% auto;
  -webkit-background-clip: text;
  color: transparent;
  animation: gradient 2s linear infinite;
}
@keyframes gradient{
  0%{
    background-position: 0% 75%;
  }
  50%{
    background-position: 100% 30%;
  }
  100%{
    background-position: 0% 70%;
  }
}
